@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@800&display=swap');


:root {
 --globalFont: 'Spartan', sans-serif;
--mainBackground: hsl(222, 26%, 31%);
--keypadBackground: hsl(223, 31%, 20%);
--screenBackground: hsl(224, 36%, 15%);
--keyBackground1: hsl(225, 21%, 49%);
--keyShadow1: hsl(224, 28%, 35%);
--keyBackground2: hsl(6, 63%, 50%);
--keyShadow2: hsl(6, 70%, 34%);
--keyBackground3: hsl(30, 25%, 89%);
--keyShadow3: hsl(28, 16%, 65%);
--text1: hsl(221, 14%, 31%);
--text2: hsl(221, 14%, 31%);
--white: hsl(0, 0, 100%);
}  


/* THEME 2 */
.theme2{
--mainBackground: hsl(0, 0%, 90%);
--keypadBackground: hsl(0, 5%, 81%);;
--screenBackground: hsl(0, 0%, 93%);
--keyBackground1: hsl(185, 42%, 37%);
--keyShadow1: hsl(185, 58%, 25%);
--keyBackground2: hsl(25, 98%, 40%);
--keyShadow2: hsl(25, 99%, 27%);
--keyBackground3: hsl(45, 7%, 89%);
--keyShadow3: hsl(35, 11%, 61%);
--text1: hsl(60, 10%, 19%);
--text2: hsl(60, 10%, 19%);
--white: hsl(0, 0, 100%);
--border: white;
}

    
/* THEME 3 */
.theme3{
   
--mainBackground: hsl(268, 75%, 9%);
--keypadBackground:hsl(268, 71%, 12%);
--screenBackground: hsl(268, 71%, 12%);
--keyBackground1: hsl(281, 89%, 26%);
--keyShadow1: hsl(285, 91%, 52%);
--keyBackground2: hsl(176, 100%, 44%);
--keyShadow2: hsl(177, 92%, 70%);
--keyBackground3: hsl(268, 47%, 21%);
--keyShadow3: hsl(290, 70%, 36%);
--text1: hsl(52, 100%, 62%);
--text2: hsl(198, 20%, 13%);
--white: hsl(0, 0, 100%);
}    

*{
    box-sizing: border-box;
    margin:0;
    cursor: pointer;
    font-family:var(--globalFont);
   


}
body{
    margin: 0;
    padding: 0;
    background-color: var(--mainBackground);
    color: white;
    transition: 0.5s ease;
}


section{
    width: 48vw;
   margin-left: auto;
   margin-right: auto;
   margin-top:2em ;
}



input{
    padding: 2em;
    border-radius: 8px;
    width: 28vw;
    background-color: var(--screenBackground);
    margin-bottom:1.5em ;
}
input:focus{
    cursor:text;
}
#center-btn{
    width: 28vw;
    border: 1px groove black;
    padding: 0.5em;
    font-size: 32px;
    flex-direction: column;
    background-color: var(--keypadBackground);
    border-radius: 8px;
}
section #center-btn div{
    display: flex;
    margin: 0.1em;
}

button{
    padding: 0.7em 1.5em 0.7em 1.5em;
    margin: 0.7em;
    box-shadow: 2px 1px var(--border);
    background-color:hsl(0, 0, 100%);
    border-radius: 5px;
   color: var(--text1);
   font-weight: 700;
   border:0.5px groove var(--keyShadow3);
}
#odd {
    background-color:var(--keyBackground1);
    box-shadow: 1px 0.5px var(--keyShadow1);
    color: var(--border);
    border:0.5px groove var(--keyShadow1);
}
#div1 button:last-child{
    font-size:0.65rem;
}
#div5 button{
    width: 41%;
}
#red{
    background-color: var(--keyBackground2);
    color: var(--border);
    box-shadow: 1px 0.5px var(--keyShadow2);
    border:0.5px groove var(--keyShadow2);
}

 




  .attribution {
       font-size: 11px;
       margin: 1em; 
    }
  .attribution a { 
      color: wheat; 
      text-decoration: none;
    }



    
@media (max-width: 768px){
    input,#center-btn{
        width:65vw;
    }
    button{
        /* width: 0.5em; */
        padding: 0.5em 1.0em 0.5em 1.0em;
    }
    #div5 button{
        width: 42%;
    }
}

   
@media only screen and (max-width: 1000px) and (min-width:769px) {
    input, #center-btn{
       width: 42vw;
    }
    #div5 button{
        width: 35%;
    }
}